@model ISW2PDT5.seccion_bodega

@{
    ViewBag.Title = "Delete";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Eliminar Seccion de Bodega
        </div>
    </div>
    <div class="panel-body">
        <h3>Esta seguro que desea eliminar esta Seccion de Bodega?</h3>
        <fieldset>
            <div class="form-group">
                <div class="editor-label">
                    ID de la Seccion de Bodega
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.id_seccion_bodega)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label">
                    Nombre de la Seccion de Bodega
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.secc_bod_desc)
                </div>
            </div>

        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
                <div class="btn btn-default">
                    @Html.ActionLink("Regresar", "Index")
                </div>
            </div>
        }
    </div>
</div>