@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Home
        </div>
    </div>
    <div class="panel-body">
        <p>Hola Yo soy Balta y aqui pondre un contenido especifico haciendo asi un display de multiples paneles</p>
    </div>
</div>
