@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<form>
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default" style="background-color:#2196f3;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="color:white">Usuario</label>
                                <input type="text" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="color:white">Contraseña</label>
                                <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input type="submit" class="btn-default" value="Entrar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>